/* src/app/nav/nav.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  height: 60px;
  transition: transform 0.3s ease;
}

.logo-container img:hover {
  transform: scale(1.1);
}

/* Los estilos de los botones de Material Design se manejan por defecto, pero puedes personalizarlos */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Opcional: Personaliza los botones de Material Design si lo necesitas */
.nav-links .mat-button {
  text-transform: uppercase; /* Opcional: Para mayúsculas, típico en Material Design */
  font-weight: 600;
  padding: 0 16px; /* Ajusta el padding según tus necesidades */
}

/* Asegúrate de que los botones tengan un buen espaciado y sean responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px;
  }

  .nav-links {
    margin-top: 10px;
    gap: 10px;
  }
}
